<div class="container py-5 my-3">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Browse through the mimes</h3>
    <%= link_to 'Add a mime', new_clown_path, class: 'btn btn-flat' %>
  </div>

  <div class="cards-mimes">
    <% @clowns.each do |clown| %>
        <%= link_to clown_path(clown), class:'text-decoration-none btn btn-danger' do %>
           <% if clown.photo.attached? %>
            <%= cl_image_tag clown.photo.key, height: 300, crop: :fill %>
           <% else %>
            <%= image_tag(clown.image_url, class: "card-mime-image") %>
           <% end %>
            <h3><%= clown.name %></h3>
        <% end %>
    <% end %>
  </div>
</div>
