<h1><%= @clown.name %></h1>
<div class="card-product">
  <% if @clown.photo.attached? %>
    <%= cl_image_tag @clown.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <%= image_tag(@clown.image_url, height: 300, width: 400) %>
  <% end %>
  <div class="card-product-infos">
    <h2>Name: <%= @clown.name %></h2>
    <p>Price: <%= @clown.price %></p>
    <p>Years of Experience: <%= @clown.years_of_experience %></p>
    <p>Description: <%= @clown.description %></p>
    <p><%= link_to 'Edit', edit_clown_path %></p>
    <p><%= link_to 'Delete', clown_path, method: :delete, data: { confirm: 'are you sure?' } %></p>
  </div>
  <div>
    <%= link_to new_clown_booking_path(@clown) do %>
      <button type="button" class="btn btn-primary">Booking Request</button>
    <% end %>
  </div>
</div>
